[2017-02-17 20:27] AaronCCWong opened #1 "Add support for vertical card flip."
Add css to allow for vertical card flip.

[2017-02-17 20:28] AaronCCWong opened #2 "Add tests"
Add test suite.

[2017-03-03 18:33] AaronCCWong opened #3 "Card flip bug on mobile"
Both sides of the card are visible.

[2017-03-03 18:36] #3 closed

[2017-05-16 17:33] lotusms opened #5 "FrontComponent"
I noticed you have a FrontComponent element in your code, When I use your code it gives an error that it is undefined. I thought it would be built in but doesn't seem like it. Where is this coming from? I didn't find it in your GitHub source either.

The transform: rotateY(180deg); is not rendering and I'm thinking it might be because of this. It is the only thing different between your code and m

[2017-05-16 17:38] AaronCCWong commented on #5
When I said `FrontComponent` and `BackComponent` I meant it as the component you want to be shown in the front. If you look [here](https://github.com/AaronCCWong/react-card-flip/blob/master/example/src/example.js) you can see a better example of it on line 43.

I will update my example in the docs to be less confusing.

[2017-05-16 17:55] lotusms commented on #5
Ah! I see, in that case, we have the same code. What event toggles the transform: rotateY(180deg); Becasue it is not showing when I call the function onClick? How are you handling that toggle event?

[2017-05-16 18:00] AaronCCWong commented on #5
`ReactCardFlip` handles the rotate through a boolean value that you can pass to it via the  `isFlipped` prop. If you show me with the component where you are trying to use `ReactCardFlip` I may be able to better pinpoint the problem.

Thank you for using `ReactCardFlip`.

[2017-05-16 18:27] lotusms commented on #5
Thank you. Here is the Component (Slimmed a little of course)

    `import React from 'react';
     import { connect } from 'react-redux';
     import classnames from 'classnames';

     //other imports here for material-ui and other dependencies

     class DashboardContent extends React.Component {
	       constructor(props) {
	          super(props);
	           this.state = {
		         isMedi

[2017-05-16 18:30] lotusms commented on #5
I think if the key="front" can be manipulated to toggle a "flip/unflip" class(es) it would be outstanding! That way we can control the flip amount by overwriting the SCSS.

[2017-05-16 18:56] AaronCCWong commented on #5
Ah. I see the problem here.

So the way the flip/unflip class currently works is it has a class that checks to see if `this.state. isMediaFlipped` is `true` or `false`.

In your component, we can see that `this.state.isMediaFlipped` is being sent in properly and the card even flips. The problem here is we don't see the flipping animation. The tricky part here is that the animation is actually happ

[2017-05-16 19:28] lotusms commented on #5
Outstanding! It works! Thanks man. This can be closed now :)

[2017-05-17 01:54] #5 closed

[2017-05-17 01:56] AaronCCWong opened #6 "Update docs to be clearer"
In regards to #5 .

- Add explanation for what `FrontComponent` and `BackComponent` are.

[2017-05-19 02:40] wilomgfx opened #7 "Why the default to position absolute ?"
Kinda messes with my layout. I feel this component should be not positioned from the intern of the library itself. I'll have to remove that position absolute with !important 📦

Other than that, great reusable component.

One thing would be cool would be to modify the transform speed and animation.

[2017-05-19 03:05] wilomgfx opened #8 "Use prop-types package"
React.PropTypes is deprecated as of React v15.5.

use https://www.npmjs.com/package/prop-types

to avoid errors like this

[2017-05-19 12:14] lotusms commented on #8
Yes, I'm having the same issue. Looking into it. This has something to offer [https://facebook.github.io/react/warnings/dont-call-proptypes.html](https://facebook.github.io/react/warnings/dont-call-proptypes.html)

Just not sure how ...rest will go into play here. It'd be nice to have the code modified to fix this warning.

[2017-05-19 12:28] wilomgfx commented on #8
I'll send a PR with the changes this weekend.

[2017-05-19 12:29] lotusms commented on #7
I brought up this issue before. My transform/animation wasn't showing. The author fixed it (great stuff) but I did mention, that if the transform/animation would be more accessible, it could be handled and adjusted instead of hardcoded in. Not a big deal in my opinion since the animation speed is nice but some people may have a need for a different transform or even a faster/slower animation speed

[2017-05-19 12:30] lotusms commented on #8
+1

[2017-05-19 20:49] mjsevilla opened #9 "Material-UI components inside front/back components"
Your docs say to simply fill the front and back components with anything. My app is using the react material-ui library; can I essentially use the `Card` component (material-ui) wrapped with your front and back components? My idea below:

    <ReactCardFlip isFlipped={this.state.isFlipped}>
      <FrontComponent key="front">
         <Card>
         </Card>
      </FrontComponent>

      <BackComp

[2017-05-19 21:43] lotusms commented on #9
Per the author, the FrontComponent and BackComponents are to be swapped by your idea of a front and back component. i.e

        `<Card className="FrontComponent">
               //...your front content here
         </Card>
         <Card className="BackComponent">
               //...your front content here
         </Card>`
or

        `<Paper className="FrontComponent">
               //...you

[2017-05-19 21:44] mjsevilla commented on #9
So what you're saying is that it's more of an _idea_ of a front and back to a Card, rather than an actually defined front and back?

[2017-05-19 22:11] lotusms commented on #9
yup. I'm guessing the author didn't want to assume everyone's preference on front and back components. I, for instance, use divs. I don't see why you wouldn't be able to use Cards. They render as divs anyway. Be mindful, there may be some Card properties that will be inherited but functionality-wise, you're safe.

The author can weigh in and correct me if I am wrong. But I had this same question f

[2017-05-19 23:19] AaronCCWong commented on #7
Making animation speed more dynamic would be a great addition to this component. I can work on it this weekend. I will also welcome a PR.

[2017-05-19 23:21] AaronCCWong commented on #8
Sounds good. I will CR asap.

[2017-05-19 23:24] AaronCCWong commented on #7
As for position absolute, at least side of the card must have position absolute applied so that it doesn't fill the space. If not you will have this weird animation where when the card flips, one side of the card appears below where the card should be.

[2017-05-19 23:25] AaronCCWong commented on #9
If I am understand @mjsevilla's problem correctly then yes, when I say FrontComponent, I mean to say YOUR front component as in the component that you want to be in front of the card. Likewise for the back.

[2017-05-19 23:57] #9 closed

[2017-05-20 00:41] wilomgfx commented on #7
Indeed that's what i noticed. No problem there, its easily fixed by overriding that back to `position: static`

[2017-05-22 18:39] mjsevilla opened #10 "ReactCardFlip causing incorrect sizing"
Here's what my first card looks like before implementing RCF:
<img width="1440" alt="screen shot 2017-05-22 at 11 23 31 am" src="https://cloud.githubusercontent.com/assets/7141345/26323234/f13f9980-3ee2-11e7-9ff3-9cfc770e549c.png">

And here's how it looks after implementing RCF:
<img width="1440" alt="screen shot 2017-05-22 at 11 23 49 am" src="https://cloud.githubusercontent.com/assets/7141345/2

[2017-05-22 18:41] mjsevilla commented on #10
Relevant code:

    <GridList
              className="grid list"
              cellHeight="auto"
              style={styles.gridList}
              cols={3}

              <GridTile>
                <ReactCardFlip isFlipped={this.state.isFlipped}>
                  <Card key="front">
                    <CardHeader
                      title="Devices in Use"
                      subtitle="Subt

[2017-05-23 04:50] AaronCCWong commented on #10
Have you tried changing the second card to have `key="back"`.

[2017-05-23 17:19] mjsevilla commented on #10
Yeah, changing `className` to `key` yields the same result. For some reason though, the `react-card-flip` div has a 0 height? Setting the height of the `card` component changes nothing.

![screen shot 2017-05-23 at 10 18 08 am](https://cloud.githubusercontent.com/assets/7141345/26366771/25ad39b6-3fa1-11e7-9474-6afaf541bff3.png)

[2017-05-23 17:20] AaronCCWong commented on #10
Can you set up a jsfiddle for me to look at?

[2017-05-23 17:24] AaronCCWong commented on #10
The reason the `react-card-flip` div has height 0 is because the divs `react-card-front` and `react-card-back` are positioned absolute.

[2017-05-23 17:32] mjsevilla commented on #10
My apologies, I'm trying to figure out how to get my code running in jsfiddle right now. I'm completely new to react and I'm learning as I'm going.

[2017-05-23 17:32] AaronCCWong commented on #10
What about the repo? Is it public? If it is I can look there instead.

[2017-05-23 17:41] mjsevilla commented on #10
https://github.com/mjsevilla/dashboard.git

Here you go

[2017-05-23 17:59] AaronCCWong commented on #10
The problem here is the `GridTile` component. If you give that a height of 400px it'll fix the problem. This occurs because `ReactCardFlip` depends on position absolute to be able to create the appearance of a single card flipping back and forth. When an element is positioned absolute, it no longer takes up space in the DOM so your `GridTile` component doesn't know that it needs to be 400px.

[2017-05-23 18:07] mjsevilla commented on #10
Thank you! It's working now. Big thanks especially since it wasn't a bug related to RCF and just my own doing. Is there a way to make the card's height adapt to the contents within the card instead of explicitly stating the size?

[2017-05-23 20:32] AaronCCWong commented on #10
Having the card adapt automatically to the contents of the card is actually an interesting question because for that to be possible, we would actually need to remove position absolute which would break the functionality of `ReactCardFlip`.

On your question about filling up the space with GridList and GridTiles maybe flexbox could be of some help? Unfortunately I have never used those components s

[2017-05-23 20:32] #10 closed

[2017-05-28 02:44] #6 closed

[2017-05-28 03:54] #7 closed

[2017-05-28 04:24] #8 closed

[2017-08-27 08:26] Tsury opened #15 "Add an option to specify spin direction for each state"
I want it to act like a revolving door, spinning in the same direction all the time.
Thanks!

[2017-08-28 21:12] AaronCCWong commented on #15
Done.

[2017-08-28 21:12] #15 closed

[2017-09-13 14:37] paschalidi opened #17 "Absolute positioning"
First things first, nice project.

My problem is that I do not understand why the "card" has an `absolute` position, I need it to be relative. Is there away to go around this or?

[2017-09-15 16:35] AaronCCWong commented on #17
https://github.com/AaronCCWong/react-card-flip/issues/7#issuecomment-302832188

[2017-09-27 09:29] jonathan-brown opened #18 "IE 11 Support - Backface Visibility"
When using on IE 11 the front card seems to flip the text back to front rather than flipping the front card to show reverse.

[2017-09-27 14:40] AaronCCWong commented on #17
Closing.

[2017-09-27 14:40] #17 closed

[2017-10-11 18:40] timtutt opened #19 "Multiple cards in a single row"
I'm attempting to use react-card-flip using bootstrap rows and cols. Unfortunately the cards all stack on top of one another rather than the intended effect. Any insights on how I can fix this?

[2017-10-17 20:22] AaronCCWong commented on #19
Sorry for the delay.

Can you provide an example?

[2017-12-16 00:17] DocCaliban commented on #18
Great component, this is killing me

[2017-12-20 19:03] AaronCCWong commented on #18
Would appreciate if someone can make a PR for a fix. Otherwise, I will look into this in the coming days. Sorry for the delay.

[2017-12-21 14:59] AaronCCWong commented on #18
Looks like this is happening because most of the transform css is not supported by IE11.

[2018-01-06 15:31] Luis-Chen opened #21 "filpped Animation bug"
http://www.giphy.com/gifs/l0HUjHxrumnFNytJ6

this is my code:

[code]

[2018-01-06 18:45] AaronCCWong commented on #21
Is the bug you are referring to the missing image in the back or the position of the axis that it is rotating over?

[2018-01-06 18:56] Luis-Chen commented on #21
yes it is, the axis not rotating middle on image

[2018-01-06 18:58] AaronCCWong commented on #21
The rotation axis is the center of the containing element. If you make the container of PeopleCard smaller you will get the desired effect.

[2018-01-10 16:34] pablonm3 opened #22 "Not working on react 16"
Hello, I'm trying a super simple example and, nothing is rendered in the screen, also no errors are logged in the console
Here is the snippet, note that if I replace the "CardFlip" tag with a span, the element is rendered as expected:
[code]
I'm using react V16.2.0

[2018-01-10 16:37] pablonm3 commented on #22
I suspect it could be a css issue, since I heard this components uses absolute positioning

[2018-01-10 16:47] AaronCCWong commented on #22
Is there a public repo I can look at? The example you provide works for me.

[2018-01-10 16:49] #21 closed

[2018-01-10 17:24] pablonm3 commented on #22
Please check the render method at:
https://github.com/flashcardx/web/blob/card-flippable/src/components/flashcard.jsx
if i replace your tag with a simple span it works, I'm pretty sure this has to be with the absolute position of your component, is it posible to override this behaviour?

[2018-01-10 19:56] AaronCCWong commented on #22
I copy and pasted your code for into your footer and it works properly.

[2018-01-10 20:06] #22 closed

[2018-01-10 20:26] pablonm3 commented on #22
Got it!, thanks for the support!

[2018-02-09 15:49] #2 closed

[2018-02-10 19:50] AaronCCWong opened #24 "'react-component-gulp-tasks' has gone stale"
Upgrade build to use webpack instead.

- Babel currently breaks build due to stale version of babel in react-component-gulp-tasks

[2018-02-10 23:55] #24 closed

[2018-02-13 22:55] danielweck opened #27 "dependency tree includes upath@1.0.0 which breaks npm install for recent NodeJS versions"
Trying `rm -rf node_modules && rm package-lock.json && npm install` in my project:

[code]
Ouch! It turns out `react-card-flip` currently depends on `upath@1.0.0` (instead of a more recent version). See:

`npm install --global npm-remote-ls && npm-remote-ls react-card-flip@0.2.1 | grep -i upath`

...and indeed in your `yarn.lock`:

https://github.com/AaronCCWong/react-card-flip/blob/master/yarn.lo

[2018-02-13 23:06] danielweck commented on #27
Wait, `chokidar` version 2.0.2 has not been released yet! Sorry. Closing this issue now.

[2018-02-13 23:06] #27 closed

[2018-02-13 23:07] AaronCCWong commented on #27
@danielweck Thanks for pointing this out! I will keep this in mind and upgrade when they release.

[2018-02-13 23:08] danielweck commented on #27
I posted here:
https://github.com/paulmillr/chokidar/pull/679#issuecomment-365436112

[2018-02-13 23:11] danielweck commented on #27
Damn, `webpack-dev-server` is affected too:

`npm-remote-ls webpack-dev-server@2.11.1 | grep -i upath`
[code]

:(

[2018-02-14 11:20] danielweck commented on #27
Update: apparently `--engine-strict` can default to true in some cases!
`mkdir ChokidarTest && cd ChokidarTest && npm init --yes && npm install chokidar --engine-strict=false`
=> okay.
By forcing `--engine-strict` to false, I should be able to get around this issue.

[2018-02-14 17:06] danielweck commented on #27
Chokidar v2.0.2 is out, fixes the `npm install --engine-strict=true` issue. See:
https://github.com/paulmillr/chokidar/issues/681#issuecomment-365670322

[2018-02-15 15:17] thiagodebastos commented on #19
I am getting the same issue. Using flex as my grid, my cards normally appear next to each other. As soon as I use this component, they are all stacked on top of each other. Also, it looks like the `transform-origin` is set to the left rather than center of the card.

[2018-02-15 15:36] thiagodebastos commented on #19
All that needs to be done to fix this is to set the front card position to `relative`

[2018-02-15 15:49] thiagodebastos commented on #1
I'll have a look into this for you tomorrow if I get some time.

[2018-02-21 07:28] thiagodebastos commented on #19
Apologies @AaronCCWong , I've been very overworked this week. I will open another issue and look for some time to resolve it. It appears that although this fixes the issue of cards stacking on top of one another when presented in a list, it introduces a bug when less than 3 cards are displayed in a row. The perspective starts to play up at 2 cards and is completely broken when only showing one car

[2018-03-14 14:54] seb-a commented on #18
Any fix coming for this??

[2018-03-19 11:30] aliogaili opened #30 "Text Overflow Impacting Visibility"
I noticed that if I add a text with fixed height and overflowY:scroll, the back will show even if
it's not flipped.

<img width="312" alt="screen shot 2018-03-19 at 3 29 50 pm" src="https://user-images.githubusercontent.com/1675307/37593147-6b449c82-2b8a-11e8-948a-683ef3efb215.png">

I'm trying to squeeze a long text in a small card so I'm using overflowY.

Thanks

[2018-03-27 14:31] rhazegh opened #31 "Some parts of the back shows on the front"
Thank you for making this. It works very well. I just found a little bug that I would like to report here.

- Browser: Chrome Version 65.0.3325.162 (Official Build) (64-bit)
- OS: macOS High Sierra Version 10.13.3

When the screen size goes lower than a specific size, some elements from the back of the card show up on the front! (mirrored). I have put them in red boxes below.

Any clue what's happ

[2018-03-27 16:41] rhazegh commented on #31
I found out that some elements inside the card had `position: relative`. After I changed this to `position: static` the problem went away.

I am still not sure why this is happening. Curious to find out what's going on. 😄

[2018-03-27 20:07] rhazegh commented on #30
I think issue #31 is related to this issue. Similar behaviour.

[2018-03-27 20:10] rhazegh commented on #31
Hum, that only addressed the issue for some special cases. There are other elements in the back of the some cards that still show up on the front. 😞

[2018-03-27 20:11] AaronCCWong commented on #31
Thanks for looking into this. Do keep me updated if you figure out the issue. I also welcome PRs if you manage to find a fix. Otherwise, I will need to look at this sometime during the coming weekend.

[2018-03-27 20:13] AaronCCWong commented on #18
@seb-a I have been overloaded with work and have had no time to look into this. I would welcome a PR if you find something.

[2018-04-01 18:25] AaronCCWong commented on #31
@rhazegh Is there any styling on the elements that are showing through the card?

[2018-04-01 18:45] rhazegh commented on #31
@AaronCCWong Yes. There is a lot of styling going on. It is showing formulas using `KaTex` (https://khan.github.io/KaTeX/). These are autogenerated from TeX source.

Here is an example:

<img width="315" alt="screenshot 2018-04-01 14 28 54" src="https://user-images.githubusercontent.com/2200559/38176243-9e36c2b2-35b9-11e8-8653-ee16cb04113e.png">

The following HTML is the the formula that is rende

[2018-04-01 18:50] AaronCCWong commented on #31
Could you provide a JSFiddle that reproduces this bug?

[2018-04-01 20:26] rhazegh commented on #31
Almost there, but I am having problem with importing. https://jsfiddle.net/zs3uh9wo/28/

I can add card content after this is resolved. How do you import 'react-card-flip' on jsFiddle?

[2018-04-01 20:50] rhazegh commented on #31
@AaronCCWong Also added the content to the front and back. We only ned to figure how to import `react-card-flip` on JSFiddle. Any idea?

[2018-04-01 20:50] rhazegh commented on #31
https://jsfiddle.net/zs3uh9wo/33/

[2018-05-17 16:49] rhazegh commented on #31
The fix was rather simple 😄

[code]

[2018-05-17 16:49] #31 closed

[2018-05-30 02:59] AaronCCWong commented on #30
@aliogaili This may be help solve your issue:

https://github.com/AaronCCWong/react-card-flip/issues/31#issuecomment-389934390

Since this issue has become stale I will close this. If that does not solve the problem please create another issue.

[2018-05-30 02:59] #30 closed

[2018-06-13 07:40] igorkamyshev commented on #1
Is this issue still relevant?

[2018-06-14 20:09] AaronCCWong commented on #1
@igorkamyshev It would be a nice to have but not urgent.

[2018-06-15 07:29] igorkamyshev commented on #1
@AaronCCWong Ok. I will try to implement it.

[2018-09-06 13:37] igorkamyshev commented on #1
@AaronCCWong sorry. I tried to solve this problem, but I could not. I apologize for the long time there.

[2018-09-06 19:16] AaronCCWong commented on #1
@igorkamyshev Not a problem. I haven't had any time to think about this myself either.

[2018-10-12 11:10] simodroussi opened #35 "How do I override the css?"
I have an image inside the flipper. I want to change the style of the react-card-front and react-card-back. I want the position to be relative instead of absolute. Is there a way to do that?

[2018-10-18 11:40] simodroussi commented on #35
No one?

[2018-11-03 05:33] AaronCCWong commented on #35
@simodroussi Sorry for taking so long to respond. You can definitely change the style to use relative by overwriting the position of `react-card-front` and `react-card-back` but be aware that this can cause issues with the way the card takes up space.

Please refer to this comment for more information:
https://github.com/AaronCCWong/react-card-flip/issues/7#issuecomment-302832188

[2018-11-03 05:34] #35 closed

[2018-12-02 14:49] petekeller2 commented on #19
@thiagodebastos I was having a similar issue with only one card. I was able to solve this for my case. See: https://github.com/petekeller2/react-card-flip/commit/3d89e6372c3612215129de8dbc95b419be6677e6

[2018-12-14 19:24] ghost opened #38 "Jank with Safari"
You demo works fine on Safari, but my code does not.  I see rendering faults while the card is flipping, as if `backface-visiblity:hidden` isn't working.

P.S. I slowed the speed down and was surprised to see that as the card is flipping to the back side, the front side is upside down, but only on Safari.

no issues on Chrome.

I switched to a fork: https://github.com/kennethormandy/react-flipcard

[2018-12-15 18:42] lgerndt commented on #38
UPDATE:  to fix the above problem, all I had to do was assign this style rule to .react-card-front and .react-card-back:   "transformStyle: initial".

[2019-02-28 11:02] fizcoder opened #40 "Issue with other components - causing overlap"
I'm experiencing an issue with other components causing an overlap for example if I have a dropdown using bootstrap, it gets overlapped with a near by component. See screenshot below:

![Overlap issue](https://user-images.githubusercontent.com/5448149/53561727-8913be00-3b47-11e9-88a4-5d660ca6f779.png)

The issue seems to be with the `.react-card-flip` and `.react-card-flipper` because when I disab

[2019-02-28 11:05] fizcoder commented on #1
This would be awesome

[2019-03-06 13:18] fizcoder commented on #40
Any update on this? Thanks.

[2019-03-08 17:25] #1 closed

[2019-03-12 12:36] fizcoder commented on #40
*bump*

[2019-03-12 13:48] sbardian commented on #40
@fizcoder I'm willing to look around and see what I see.  Do you have a codesandbox.io to show this happening?  Would speed things up if you had a working example of the issue.

[2019-03-14 14:29] sbardian commented on #40
@fizcoder this seems to be an issue with the react flip cards having a separate context stack because of their transitions/animations.  If possible one solution I can see at this point is to move the popup elements (date picker/etc) as siblings to the flip cards.  This causes other issues with positioning the popups though.  I will continue to look into it for a better solution.

[2019-03-14 15:59] sbardian commented on #40
@fizcoder I have submitted a PR that should help with your issue.   You will want to apply a reversed z-index layout to your flip cards.  Last card low (1) first card high (1000) type of setup.  This will allow your child elements (popups) of cards above to overlap (not fall behind) other flip cards below it.  We will see what @AaronCCWong thinks of it, works fine in my testing.

[2019-03-21 20:53] zach-luman commented on #40
Look forward to merging @fizcoder 's PR.

[2019-03-25 09:14] zach-luman commented on #40
any update here?

[2019-03-25 14:01] sbardian commented on #40
bump @AaronCCWong

[2019-03-26 15:46] zach-luman commented on #40
@sbardian It seems like this plugin is not being maintained anymore.
Could you please guide me on how to apply your updates on my local?

[2019-03-26 15:49] AaronCCWong commented on #40
Sorry for the delay. Will take a look by eod.

[2019-03-26 17:36] #40 closed

[2019-03-26 17:42] sbardian commented on #40
Thanks @AaronCCWong !

[2019-03-26 18:10] zach-luman commented on #40
@sbardian @AaronCCWong
Setting 1000~0 as cardZIndex props to continuous flip cards doesn't resolve the issue yet.

[2019-03-26 18:21] sbardian commented on #40
This worked with my testing.  Do you have a codesandbox or some code to show me how you are using it?

[2019-03-26 18:26] zach-luman commented on #40
`this.state.vehicles.map((auction, index) => (
    <ReactCardFlip isFlipped={this.state.viewMode} flipDirection="vertical" cardZIndex={1000-index}>
))`

[2019-03-26 18:34] zach-luman commented on #40
@sbardian any idea?

[2019-03-26 18:44] sbardian commented on #40
hmm   not sure.  seems fine here, threw this together really quick.

https://codesandbox.io/s/3y7x40m871

[2019-03-27 02:19] sbardian commented on #40
Probably already did this, but . . . css change sooo CTRL+F5?  or Shift+Command+R ?   stupid but . .  maybe ?

[2019-03-27 07:41] zach-luman commented on #40
https://codesandbox.io/embed/53only1j54
@sbardian Even without cardZIndex props in your code, it works as expected.
How is it possible?

[2019-03-27 13:09] sbardian commented on #40
@zach-luman I started checking other browsers, are you on chrome?  You are right, this doesn't seem to be working on chrome from what I'm seeing at this point.  Let me review further.

[2019-03-27 13:23] sbardian commented on #40
@zach-luman in Chrome open up dev tools and add `position: relative;` to the react-card-flip class.  This seems to do the trick in chrome, but I will have to test further before pushing another PR.

[2019-03-27 14:02] sbardian commented on #40
Yup from what I see setting position: relative on the class `react-card-flip` seems to do the trick to fix this in `Chrome` and doesn't seem to break `FireFox`.  #42 would handle this as you could pass this to the container, or I could push another PR to add this to the container.  @AaronCCWong do you have a preference on this one?  Adding `position: relative` is more specific than just spreading

[2019-03-27 14:10] AaronCCWong commented on #40
@sbardian I will play around with `position: relative` to see if it affects the functionality. Using relative positioning has caused problems in the past.

[2019-04-19 02:06] Skillz4Killz opened #43 "Need Support For SSR: Breaks Gatsby Build"
When building the website with `gatsby build` in a GatsbyJS project, this module breaks the build because it doesnt support Server Side Rendering.

![image](https://user-images.githubusercontent.com/23035000/56401330-422c7580-6226-11e9-8ce8-5d6f0bb08972.png)

[2019-05-03 13:24] ammarlakis commented on #43
I've created PR #44  for this, it's a Webpack configuration option.

[2019-05-03 19:33] AaronCCWong commented on #43
@ammarlakis I will take a look and get it merged by EOD. Thanks!

[2019-05-05 04:13] #43 closed

[2019-05-13 13:11] Paso opened #45 "Large bundle because of dependencies"
The minified bundle is 14kB while the raw source is only 4kB, this is probably because some dependencies are included in the bundle. It should be up to the user of the package to install the required dependencies so that they are not duplicated in the requiring application. To resolve this the package.json should switch to peerDependencies instead of dependencies.

[2019-05-14 07:01] AaronCCWong commented on #45
Agreed. I'll accept a PR from you or I can make the update later this week or early next week.

[2019-05-27 19:09] ABhakuni opened #46 "Content becomes blurred on using react-card-flip with Material UI Paper Api"
I am using paper api of material ui and want to implement flip card with it but my content gets blurred and difficult to read and use.

Here is the blurred content:
https://user-images.githubusercontent.com/27316461/58436010-de2c8500-80e0-11e9-9cad-7dd70cdb3520.png

[2019-06-01 21:19] ABhakuni commented on #46
I solved it!! Set the css perspective attribute to 0. It was initiallly set to 1000 by default in the library. I have a  really good experience until now with this library. Thanks!

[2019-06-01 21:19] #46 closed

[2019-06-17 11:39] calvin17 opened #47 "card is not visible in the middle of the animation"
I have implemented the react-card-flip while implementing it is animating perfectly,
but some days before, it is not working. In the middle of the animation card disappears for sometime.

[2019-06-18 03:03] AaronCCWong commented on #47
Could you provide a JSFiddle that reproduces this bug?

[2019-06-18 04:36] calvin17 commented on #47
I am using chrome, facing the same issue even in official example url(https://aaronccwong.github.io/react-card-flip/). It is not working in recent version of chrome Version 75.0.3770.90. It was working in Version 74.

[2019-06-22 08:47] andycloke commented on #47
same issue here on chome: `Version 75.0.3770.100 (Official Build) (64-bit)`

[2019-06-24 19:16] AaronCCWong commented on #47
https://github.com/AaronCCWong/react-card-flip/commit/47f24ed2e7410425dc35b010be0f451333abd174 fixes this issue.

[2019-06-24 19:16] #47 closed

[2019-06-24 22:33] #45 closed

[2019-06-25 13:45] Paso commented on #45
Awesome! Thank you!

[2019-07-26 21:28] Emisu2 commented on #7
When I flip a card displayed as in-line block, there is space that appears underneath of it, and all the other cards move/change position/drop down.  Wondered if anyone else has seen this because I can't explain it and have tried playing with position properties such as static but no luck...  Inspecting the elements hasn't helped.  Thanks.
![image](https://user-images.githubusercontent.com/5238812

[2019-07-27 02:55] Emisu2 commented on #7
For what it's worth, I just tried it removing all card content, and now it's working properly...  Must have something to do with my card content or styling.  I'll keep trying.  Thanks.

[2019-07-31 14:51] Taelkir commented on #47
I think I'm still experiencing this in Chrome 76 - no such issue in Firefox 68. It's one of those things that happens "sometimes", so I feel like it might be related to page performance, but it only happens when moving from front to back.
![2019-07-31_15-33-49](https://user-images.githubusercontent.com/36701898/62221924-60b81600-b3aa-11e9-8530-ad1f701ce5dc.gif)

[2019-10-11 15:21] BlackFenix2 opened #51 "Typescript Support"
Just a discussion thread for my eventual PR to add typescript support for this app. i can start by adding type definitions and go further by writing everything in typescript vs javascript. this would remove the need for the prop-types peer dependency.

[2019-10-12 03:30] BlackFenix2 commented on #51
i added my PR for Typescript here: https://github.com/AaronCCWong/react-card-flip/pull/52

[2019-11-03 18:31] #51 closed

[2019-11-07 08:22] copperseed opened #54 "Rebuild dist"
Hello,

Having an issue with the default install but using the src file as is works in current React version. Please rebuild the dist.

[2019-11-07 17:16] AaronCCWong commented on #54
Thanks for pointing this out. This issue should now be resolved. Please reopen this if it hasn't.

[2019-11-07 17:16] #54 closed

[2019-11-08 19:04] jhrabows opened #55 "Missing typescript types"
When I import this library in my typescript project and try to build it I get a message: ReactCardFlip.d.ts (2,39): Cannot find name ReactFlipCardProps. I see that this name is defined in the github source but it is not in the node_modules folder.

[2019-11-09 16:42] AaronCCWong commented on #55
Thanks for reaching out!

I created a small TypeScript app using create-react-app and am not able to reproduce this issue. Can you provide a code snippet that has this issue?

[2019-11-10 04:43] jhrabows commented on #55
Hi Aron,
I created a project using CRA and copy/pasted sample from the readme file. Indeed had no issue. However, this happened because the CRA default value for skipLibCheck in tsconfig.json was set to 'true'. As soon as I changed that value to false I got this error:

[code]

Hope this helps

[2019-11-11 01:26] AaronCCWong commented on #55
Commit f9b3eb7 should fix this issue. Please reopen if it continues to occur.

[2019-11-11 01:26] #55 closed

[2019-11-11 03:30] jhrabows commented on #55
looks good now

[2019-11-29 08:34] Lucifer1662 opened #56 "Glitchy transition when changing flipping"
The first flip is okay but when it goes to return back to the original the one currently at the top rearranges its contents, and it is then no longer seamless

[2020-01-06 05:00] vmandal commented on #56
I am facing the same issue. It seems to occur when there is space constrain. Works fine when enough same around to flip.

[2020-09-05 17:18] ronaldborman opened #60 "Property cardStyles not documented."
It turns out ReactCardFlip accepts a cardStyles property, which can augment the styles passed to the front and back component wrappers.

This property isn't however documented. Maybe it could be added to the list on Readme.md as the property was benificial in solving a z-index issue I was having and could be benificial to others.

[2020-09-30 18:20] shush-lu opened #62 "When card is flipped, the new back side shows on top of the new front side reversed"
It's a great library! I had a small glitch when using it. When flipping, the back side is reversed and showed on top of the new front side briefly (~0.5 - 1s). Per https://stackoverflow.com/questions/59716761/flip-card-bug-safari, a translateZ(1px) can fix that issue. I submitted a PR. Could you take a look?

[2020-11-14 22:56] marcusellison opened #63 "upgrade react peer dependency to v17"
Erro to install dependency in a new react app using npm 7

**Screenshot**
![zsh](https://user-images.githubusercontent.com/1753324/99158579-1e8f1280-2689-11eb-8212-f6026c7f30f6.jpg)

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new app with create-react-app typescript template
2. Run command npm install react-card-flip --save
3. Installation will be rejected.

**Expected behavior

[2021-01-01 07:59] jctan commented on #51
would ReactCardFlip.tsx need to convert to ts for consistency?

[2021-01-02 00:32] AaronCCWong commented on #51
`ReactCardFlip.tsx` is already TypeScript. Unless you mean the extension in which case I believe `.tsx` is the better extension as it makes clear that this file contains JSX.

[2021-01-20 21:36] LinusGeffarth commented on #63
Having the same issue...

[2021-02-19 23:34] BarriowealthPro commented on #63
I see the pull request for this update here: https://github.com/AaronCCWong/react-card-flip/pull/64

Will it be released soon?

[2021-02-20 22:54] AaronCCWong commented on #63
Merged and released.

[2021-02-20 22:54] #63 closed

[2021-02-24 00:43] bluesherpa opened #66 "Could not resolve dependency"
Any idea how to resolve this error? I get it when trying `npm install`:

npm ERR! Found: react@16.14.0
npm ERR! node_modules/react
npm ERR!   react@"^16.14.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^17.0.1" from react-card-flip@1.1.0
npm ERR! node_modules/react-card-flip
npm ERR!   react-card-flip@"^1.0.11" from the root project

The package.json

[2021-02-24 01:34] bluesherpa commented on #66
The solution was to replace ^1.0.11 with ~1.0.11.  I didn't realize the carat (^) indicates to install 1.0.11 or newer, which meant it was trying to install version 1.1.0 and resulting in the unmet dependency of React 17.0.1.  Thanks to acemark over in the reactiflux community helping me figure this out...

[2021-02-24 01:34] #66 closed

[2021-06-04 11:16] SSylvain1989 opened #69 "Can we change the speed transition and the " door " effect transition ? [ fin solution for transition but not " door " effect ]"
Hello
I would like to slow the transition , can you tell me how to do it ?
Thanks a lot
Best regards

[2021-06-04 12:18] SSylvain1989 commented on #69
**Find the solution :**
[code]

#https://youtu.be/US9Hnl3Bap8
but do you know how to resolve this problem

When the card is not " full screen " it's flip like a " door " no in the same way when the card is full screen / take all the with of the screen ?
Thanks .
Regards .

[2021-06-27 20:22] AaronCCWong commented on #69
Check the container of the card. The container is used as the reference point for flipping so if the container of the card that is doing the flipping is larger than the card itself the card will appear to not flip at its center.

[2021-07-13 15:13] Nautman opened #70 "Allow setting className for container"
Hi,

I'm very glad this package exists! I would really appreciate it if was possible to add a `className` to the container, in addition to adding `containerStyles`. This would make things easier for me as I am using this component together with TailwindCSS.

This is the line that would need changing.

https://github.com/AaronCCWong/react-card-flip/blob/8ac78395051da6b8e1aa56488c3988bbe3579972/src/

[2021-07-15 09:59] florianGierlichs commented on #70
A custom className maybe would be even better, so you could use multiple containers with different styling

[2021-07-15 18:05] AaronCCWong commented on #70
Will happily accept a PR for this. Otherwise, I will try to get to it in a few days.

[2021-08-12 13:23] alanngo opened #71 "make the card swipable"

[2021-08-12 14:04] alanngo opened #72 "Add horizontal-backwards and vertical-backwards to flipDirection"

[2021-08-15 20:22] AaronCCWong commented on #70
https://github.com/AaronCCWong/react-card-flip/commit/89ec73e04aee19fba9c11f6a0475ad3b65953bfb

[2021-08-15 20:23] #70 closed

[2021-08-16 14:16] Nautman commented on #70
Seems like a neat implementation, thanks!

[2021-08-16 22:39] fourwadu opened #73 "ContainerClassName not a valid type on the NPM build."
Title

[2021-08-16 23:01] AaronCCWong commented on #73
Please provide a stack trace.

[2021-08-16 23:12] AaronCCWong commented on #73
https://github.com/AaronCCWong/react-card-flip/commit/2818a4e5bd97fe4bf808b344586030a727dc2e2f

[2021-08-16 23:12] #73 closed

[2021-08-23 02:56] #60 closed

[2021-09-29 11:46] mjangir opened #75 "preserve-3d is causing issues in Chrome v94.x"
After upgrading Chrome to version 94, half of the content in react card flip is not interactive. I tried to debug it and found that disabling `transformStyle` `preserve-3d` works fine.

[2021-10-07 08:05] hamed-musallam opened #76 "part of the front card visible when flip to back card"
the problem comes from the z-index CSS property on the front card

front card
![image](https://user-images.githubusercontent.com/35760236/136344474-1f6d7dbb-0787-416e-aa01-652911a393c6.png)
back card
![image](https://user-images.githubusercontent.com/35760236/136344415-c71dcc9e-072a-4fe0-8524-bfa2da65faea.png)

[2021-11-12 07:10] hamed-musallam commented on #76
@AaronCCWong

it seems that is a bug in Chrom V94, when we have Canvas or div with the sticky position the CSS properties transform style preserve-3d and backface visibility not working as it supposes to work.

we tested the same case in Firefox and it works well without any problem.

Can you take a look at this problem at chrome?

For now, We made a hack workaround solution by hiding the front ca

[2021-12-04 18:52] AaronCCWong commented on #75
Can you provide an example of this? I am on Chrome v96 and everything here https://aaronccwong.github.io/react-card-flip/ works for me as expected.

[2021-12-04 18:53] AaronCCWong commented on #76
Is this still an issue? If it is can you provide a minimal reproducible example?

[2021-12-04 19:01] AaronCCWong commented on #62
Apologies for the delay and thanks for sending the PR. Merged.

[2021-12-04 19:01] #62 closed

[2021-12-04 19:21] shush-lu commented on #62
thx. no worries

[2021-12-07 16:57] taeuscherpferd opened #83 "Latest update has broken our solution in Chrome"
After the latest update, after flipping a tile, the back of the tile is no longer interactable. This only happens in Chrome as far as I can tell. It also seems to have slowed down all of the other animations in our solution. We have downgraded the package to fix, and will probably stay on the downgraded version for the foreseeable future, but I just thought that you should be aware. 👍

[2021-12-07 20:16] hamed-musallam commented on #76
@AaronCCWong

Here you can find a small example, the problem becomes visible if you style your component
[code]
https://codesandbox.io/s/react-flip-bug-f6in2?file=/src/App.js

[2021-12-07 20:33] AaronCCWong commented on #76
Can you explain what the intended functionality is?

[2021-12-08 07:25] Sairav commented on #83
Same for me , I am using TextField as the second child (the element that shows up on flip) , it is not interactable.
On hover on the input field of the TextField , mouse pointer doesn't change to cursor, and it is not editable at all . I have also downgraded it.

[2021-12-08 07:58] hamed-musallam commented on #76
@AaronCCWong

we have two cases:
1-  Canvas is still visible even if we don't use ``` overflow: "hidden" ```.
2-  table with ticket header, I need to prevent scroll to be active even if the content if the div is overflow.
      the problem is still the same even if I move the overflow CSS property to the parent component, for example
      `<div style={{overflow:'hidden'}}>
         <ReactCardFlip

[2021-12-08 16:58] rafaelchampria commented on #83
Same for me, downgraded to 1.1.3 which fixed the issued. My "Back card" is a form with several inputs and buttons

[2021-12-08 22:51] sTsaturian commented on #83
Doesn't work for me either. Here is an example: https://codesandbox.io/s/basictextfields-material-demo-forked-7zf38?file=/demo.tsx

[2021-12-12 23:07] AaronCCWong commented on #76
Pushed v1.1.5 which reverts the change causing this issue. Please reopen if that does not fix the issue.

[2021-12-12 23:07] #76 closed

[2021-12-12 23:08] AaronCCWong commented on #83
Pushed v1.1.5 which reverts the change causing this issue. Please reopen if that does not fix the issue.

[2021-12-12 23:08] #83 closed

[2021-12-12 23:08] AaronCCWong commented on #83
Pushed v1.1.5 which reverts the change causing this issue. Please reopen if that does not fix the issue.

[2021-12-12 23:18] AaronCCWong commented on #72
This isn't really worth doing. Tested the animation on this and it is difficult to tell the difference between "forwards" and "backwards"

[2021-12-12 23:18] #72 closed

[2021-12-12 23:19] AaronCCWong commented on #69
Closing. Please reopen if this is still an issue.

[2021-12-12 23:19] #69 closed

[2021-12-13 06:56] hamed-musallam commented on #76
unfortunately, the issue still exists.

https://codesandbox.io/s/react-flip-bug-forked-1cpem?file=/src/App.js

[2021-12-13 11:18] mehmetcinarpro commented on #76
We have the same issue. We updated to v1.1.5 but the problem persists..
Thanks for your help

[2022-01-05 15:59] hamed-musallam commented on #76
@AaronCCWong

Any Update?. This bug  still exists and it is going to be very nice if you solve it soon ...

[2022-01-12 13:10] Mathers08 opened #84 "mapping items"
I have 3 cards and I display them via map.
Each card has a button and when I click on it, all 3 cards turn over, not just one

[2022-01-12 18:01] AaronCCWong commented on #84
You'll need to manage the flip state of each card separately.

[2022-01-14 10:13] DaveMacLellan opened #86 "Cards wont go in rows"
Tried plenty of things with Container, Row and Col from react-bootstrap but will not place more then one card in a row. Sizing of card changes like its trying to fit multiple cards. Any help would be great.

[2022-01-24 16:15] J0914 opened #87 "When cards are flipped it's showing the front of the card upside down instead of the back."
This has happened in the last couple of months.

[2022-02-14 16:12] erickdacohen commented on #87
I ran into a similar error a few days ago. There was a glitch where I would click on the object and the opposite side would show backwards.

**TLDR**;
The glitch was solved for me was when css `overflow` property was set to hidden: `overflow: hidden;`

*************

 My original code was as follows:
React:
[code]

and my css within styled component:
[code]
My h2 tag was too big so there was overf

[2022-04-06 18:23] lino-levan opened #94 "Image in Demo is "No Longer Available""
Probably a good idea to host test images in the GitHub repo?

<img width="333" alt="Screen Shot 2022-04-06 at 11 23 01 AM" src="https://user-images.githubusercontent.com/11367844/162042644-7d8cf94e-77ef-43da-b951-1bbb77afde0b.png">

[2022-05-21 02:43] FM7077 opened #96 "bug: back card not hide"
[reat-card-flip-issue.md](https://github.com/AaronCCWong/react-card-flip/files/8746219/reat-card-flip-issue.md)

[2022-05-21 02:44] FM7077 commented on #96
I create a component to show flipable cards, and it run well on localhost. However when I deploy it on firebase the back card will keep showing, no matter the ==isFlipped== is true or false.

[2022-07-02 04:28] FM7077 commented on #96
Hi, I reproduce it on CodeSandbox, it run well as except, still dont know why it doesn't on my blog: https://fm7077.it/  the backside of cards will keep showing
![Snipaste_2022-07-02_12-27-45](https://user-images.githubusercontent.com/41443707/176986486-21d50cd5-3040-40e9-beb9-e1ade4d97b6a.png)

[2022-10-04 11:06] mezei opened #100 "React 18 support - peerDependencies update request"
Hello!

I'm currently using this package in an app I just upgraded to React 18. It seems to work fine, however it complains about its peerDependencies as it's set to React 17.

Could the peerDependencies be updated to be a bit more lax and allow newer versions of react & react-dom as well?

Thank you!

[2022-10-04 21:28] rayraspberry commented on #100
I believe this issue would be resolved by merging in pull 98
https://github.com/AaronCCWong/react-card-flip/pull/98

[2022-10-09 19:11] AaronCCWong commented on #100
#98 isnt going to cut it. Enzyme didn't yet support React 18 when 18 was released which is why I've held off on updating but since it appears there are no plans for enzyme to support React 18 (https://dev.to/wojtekmaj/enzyme-is-dead-now-what-ekl) it might make sense to move over to react-testing-library in conjunction with upgrading to react 18. Would definitely appreciate a PR to do this. Otherwi

[2022-11-24 15:14] AaronCCWong commented on #100
Thanks @dododevs for add React 18 support. Latest release has been published to npm.

[2022-11-24 15:15] #100 closed